---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";

// Image imports for the slideshow
import image1 from "@images/construction-image.avif";
import image2 from "@images/construction-workers.avif";
import image3 from "@images/hero-image-new.jpg";
import image4 from "@images/progress-building.avif";

// Define props from Astro
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
}

const images = [
  { src: image1, alt: "Construction site with heavy machinery" },
  { src: image2, alt: "Construction workers collaborating on a project" },
  { src: image3, alt: "Modern architectural building" },
  { src: image4, alt: "Building under construction with scaffolding" },
];
---

<!-- Defining a relative container to hold the slideshow and the content -->
<section class="relative h-screen min-h-[600px] flex items-center justify-center text-white -mx-4 sm:-mx-6 lg:-mx-8">
  <!-- Slideshow container -->
  <div class="slideshow">
    {images.map((image) => (
      <Image
        src={image.src}
        alt={image.alt}
        class="slideshow-image"
        draggable={"false"}
        loading={"eager"}
        format={"avif"}
      />
    ))}
  </div>

  <!-- Overlay for content -->
  <div class="absolute top-0 left-0 w-full h-full bg-black/50"></div>

  <!-- Content container -->
  <div class="relative z-10 mx-auto max-w-3xl text-center p-4">
    <!-- Title and description -->
    <div>
      <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
      <h1
        class="block text-balance text-3xl font-bold tracking-tight sm:text-4xl lg:text-5xl lg:leading-tight"
      >
        <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
        <Fragment set:html={title} />
      </h1>
      {subTitle &&
      <p
        class="mt-3 text-pretty text-base leading-relaxed lg:w-full"
      >
        {subTitle}
      </p>
    }
      <!-- Action Button Section: This section includes two CTAs with their own styles and URL -->
      <div class="mt-7 grid w-full gap-3 sm:flex sm:justify-center">
        {primaryBtn && 
        <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />
        }
        {secondaryBtn && 
        <SecondaryCTA title={secondaryBtn} url={secondaryBtnURL} />
        }
      </div>

    </div>
  </div>
</section>

<style>
  .slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 24s infinite;
  }

  .slideshow-image:nth-child(1) {
    animation-delay: 0s;
  }
  .slideshow-image:nth-child(2) {
    animation-delay: 6s;
  }
  .slideshow-image:nth-child(3) {
    animation-delay: 12s;
  }
  .slideshow-image:nth-child(4) {
    animation-delay: 18s;
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    12.5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    37.5% {
      opacity: 0;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(1.1);
    }
  }
</style>