---
// This component displays a grid of product cards.
import { Image } from "astro:assets";

interface Product {
  title: string;
  image: ImageMetadata;
  alt: string;
  url: string;
}

interface Props {
  title?: string;
  products?: Product[];
}

const { title, products } = Astro.props;
---

<section
  class="mx-auto max-w-[85rem] bg-white px-4 py-10 sm:px-6 lg:px-8 lg:py-14"
>
  {
    title && (
      <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
        <h2
          class="text-3xl font-bold text-neutral-800 md:text-4xl md:leading-tight dark:text-neutral-200"
          set:html={title}
        />
      </div>
    )
  }

  {
    products && (
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {products.map((product) => (
          <a
            href={product.url}
            class="group/tabButton nav-link h-full w-full rounded-2xl border-2 border-neutral-100 bg-white font-bold shadow-sm ring-zinc-500 outline-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-xl focus-visible:ring-3 dark:border-neutral-800"
          >
            <span class="group/tabContent flex h-full flex-col items-center justify-between p-4">
              <span class="relative mb-4 flex aspect-square w-full items-center justify-center overflow-hidden rounded-2xl lg:flex-none">
                <Image
                  src={product.image}
                  alt={product.alt}
                  class="h-full w-full object-cover transition-transform duration-500 group-hover/tabButton:scale-110"
                />
                <div class="absolute inset-0 bg-black/10 transition-colors duration-300 group-hover/tabButton:bg-transparent" />
              </span>
              <span class="w-full px-2 pb-2 text-center text-lg font-bold text-neutral-800 transition-colors duration-300 group-hover/tabButton:text-orange-600 md:text-xl dark:text-neutral-200">
                {product.title}
              </span>
            </span>
          </a>
        ))}
      </div>
    )
  }
</section>
